@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #030303;
  --color-symbols: #262932;
  --color-tittlesAdmin: #3B6B27;
  --color-prices: #426B1F;
  --color-componentes: #FAFAF5;
  --color-button: #65a30d; /* Verde más claro */
  --color-button-hover: #4CAF50; /* Verde más oscuro */
  --color-button-text: #FFFFFF; /* Texto blanco */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Paleta de colores */
:root {
  --color-text: #030303;
  --color-symbols: #262932;
  --color-tittlesAdmin: #3B6B27;
  --color-prices: #426B1F;
  --color-componentes: #FAFAF5;
  --color-button: #65a30d; /* Verde más claro */
  --color-button-hover: #4CAF50; /* Verde más oscuro */
  --color-button-text: #FFFFFF; /* Texto blanco */
}

/* Tipografía */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text); 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para los botones */
.button,
.agregar-diseno-button,
.solicitar-cotizacion-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: var(--color-button) !important; /* Verde constante */
  color: var(--color-button-text) !important;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover,
.agregar-diseno-button:hover,
.solicitar-cotizacion-button:hover {
  background-color: var(--color-button-hover) !important; /* Verde más oscuro */
}

/* Forzando estilos para evitar sobrescrituras */
.button:focus,
.button:active,
.agregar-diseno-button:focus,
.agregar-diseno-button:active,
.solicitar-cotizacion-button:focus,
.solicitar-cotizacion-button:active {
  background-color: var(--color-button) !important;
  color: var(--color-button-text) !important;
}

/* Estilos para títulos */
.centered-title {
  text-align: center;
  font-size: 28px;
  margin: 20px 0;
  color: var(--color-symbols);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 2px var(--color-shadow);
  letter-spacing: 1px;
}

/* Estilos para la lista de productos */
.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-bottom: 100px;
}

.card-container {
  width: 240px;
  height: auto;
  margin: 10px;
  border: 1px solid var(--color-contorno);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: var(--color-componentes);
}

.card-url_imagen {
  width: 100%;
  height: 150px; /* Asegura que todas las imágenes tengan la misma altura */
  object-fit: cover; /* Escala la imagen y recorta si es necesario para llenar el contenedor */
  border-radius: 8px; /* Mantiene un diseño consistente con la tarjeta */
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin: 15px 0;
  max-width: 100%; /* Asegura que el ancho sea el del contenedor */
  overflow: hidden; /* Oculta el contenido que no cabe */
  text-overflow: ellipsis; /* Agrega los puntos suspensivos */
  white-space: nowrap; /* Evita el salto de línea */
}

.card-description {
  font-size: 14px;
  color: #666;
  padding: 0 10px 15px;
  max-width: 100%; /* Asegura que el ancho sea el del contenedor */
  overflow: hidden; /* Oculta el contenido que no cabe */
  text-overflow: ellipsis; /* Agrega los puntos suspensivos */
  white-space: nowrap; /* Evita el salto de línea */
}




.card-category {
  font-weight: bold;
  color: var(--color-prices);
  align-self: start;
  margin-left: 4px;
  padding: 1px 4px;
  border: 1px solid var(--color-contornoButtons);
  border-radius: 5px; /* Más cuadrado */
}

.card-material {
  font-weight: bold;
  color: var(--color-prices);
  align-self: start;
  margin-left: 4px;
}

.card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(11, 73, 35, 0.2);
}


/* Estilos para el formulario */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

form div {
  margin-bottom: 15px;
}

form label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

form select, 
form input[type="number"], 
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-contorno);
  border-radius: 4px;
  background-color: var(--color-componentes);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  color: #333;
}

form select:focus, 
form input[type="number"]:focus, 
form textarea:focus {
  outline: none;
  border-color: var(--color-button);
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

/* Estilos para tabla */
*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgba( 71, 147, 227, 1);
}
h2{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 12%;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.table_img {
  width: 25%;
  justify-self: center;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: var(--color-prices);
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: var(--color-button);
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}