### Node ###
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
/package-lock.json
/yarn.lock

### Frontend ###
# Artefactos de construcción
/dist/
/build/
/.vite/
/.next/
/out/
/.nuxt/
/public/build/

# Caché
.nuxt-cache/
.vitepress/dist

# Archivos generados durante el desarrollo
.env.local
.env.development.local
.env.test.local
.env.production.local

### Backend ###
# Logs
*.log
logs/
*.log.*

# Directorio de salida
/out/
/build/

# Archivos de configuración de entorno
.env
.env.test
.env.*.local

# Caché
.cache/
.tmp/

### Docker ###
/docker/volumes/
docker-compose.yml


### Sistemas Operativos ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

### Editores ###
# Sublime Text
*.sublime*
# TextMate
*.tmproj
.tmtags
# VSCode
.vscode/
*.code-workspace
# IntelliJ
.idea/
*.iml
*.ipr
*.iws
# Otros
*.swp
*.swo
*~
.project
.settings/
.classpath
.c9/
*.launch
.cproject

### Herramientas de Desarrollo ###
# Directorios generados por herramientas de cobertura
coverage/
.nyc_output/

# Directorio de salida de tsc
*.tsbuildinfo

# Archivos de configuración de herramientas
/.eslintcache
/.stylelintcache
/.prettierrc

# Otros
*.sass-cache
.cache/
.temp/
/typings/
