.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(90deg, #65a30d, #388E3C); /* colores del degradado aquí */
  height: 50px; 
  width: 100vw; 
  box-sizing: border-box; /* Incluye el padding dentro del ancho */
  overflow: hidden; /* Para el carrusel */
  position: relative; /* Para el posicionamiento del carrusel */
  border-bottom: 2px solid #388E3C; /* Borde inferior para mayor contraste */
}


/* Estilos para el carrusel */
.carousel {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

.carousel-content span {
  display: inline-block;
  padding-right: 50px; /* Espacio entre los elementos del carrusel */
  color: var(--color-backgroundText);
  font-size: 16px;
}

@keyframes scroll {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

/* Otros estilos existentes */
.top-nav {
  display: flex;
  gap: 10px;
}

.top-nav a {
  color: var(--color-backgroundText);
  text-decoration: none;
}

/* Utilidades adicionales */
.relative {
  position: relative;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-52 {
  height: 13rem;
}

.bg-lime-700 {
  background-color: transparent;
}

.bg-opacity-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-40 {
  width: 10rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.banner-logo {
  width: 200px; 
  height: auto; 
}
