/*Tipografía*/
@import './styles.css';

:root {
    --font-family-main: Inter;
    --font-size-base: 16px; 
    --line-height-base: 1.5; 
}

body {
    font-family: var(--font-family-main); 
    font-size: var(--font-size-base);
    line-height: var(--line-height-base); 
}


.titleAdmin,
.titleCatalogo {
    font-size: 50px;
    font-weight: bold;
    font-family: var(--font-family-main); 
}

.titleAdmin {
    color: var(--color-tittlesAdmin);
}

.titleCatalogo {
    color: #000000;
}


.titleBanner {
    color: var(--color-backgroundText);
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font-family-main); 
}

.prices {
    color: var(--color-prices);
    font-size: 15px;
    font-weight: 600;
    font-family: var(--font-family-main); 
}


p {
    font-size: var(--font-size-base);
    margin-bottom: 15px;
    color: var(--color-text);
}