name: automatic tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: latest
    - run: cd client-frontend && npm install
    - run: cd client-frontend && npm run build --if-present
    - run: cd client-frontend && npm test